*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --font-size-sm:10px;
    --font-size-md:15px;
    --font-size-lg:20px
}

body{
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}
.main_container{
    height: 80px;
    border: 1px solid red
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.5rem;
}

nav ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

li{
    text-align: center;
}

button{
    background: rgba(0, 101, 254, 1);
    color: white;
    width: 142px;
    height: 44px;
    padding: 12px 24px 12px 24px;
    border-radius: 100px;
    margin-top: -1rem;
    outline: none;
}
h2{
    color: black;
    text-align: center;
    font-size: 48px;
    font-family: gilroy-bold;
    line-height: 94px;
}
h1{
    color: var(--text-color-main-text, #141414);
    text-align: center;
    font-size: 18px;
    font-family: Gilroy-Medium;
    line-height: 28px;
    display: flex;
}

button{
    color: var(--neutral-white, #FFF);
    text-align: inherit;
    font-size: 16px;
    font-family: Gilroy-SemiBold;
    line-height: 12px;
}

.container_id{
    border-radius: 24px;
    border:--primary-400, #005AE2
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);

    display: flex;
    align-items: center;
    gap: 20px;

    color: var(--text-color-main-text, #141414);
    text-align: center;
    font-size: 16px;
    font-family: Gilroy-Medium;
    line-height: 24px;

    display: inline-flex;
padding: 40px 60px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 16px;
Style
border-radius: 24px;
border: 0.5px solid var(--primary-400, #005AE2);
background: rgba(254, 254, 254, 0.10);
backdrop-filter: blur(106px);

}


    .pricetag.price-active {
        scale: 1.1 1.2;
        margin-top: -2rem;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
  
    .pricetag.price-active {
        filter: drop-shadow(rgba(0, 0, 0, 0.05) 0px 4px 8px);
        color: rgb(255, 255, 255);
        background: linear-gradient(rgb(30, 52, 72) 99.99%, rgba(30, 52, 72, 0) 100%);
    }
   
  
    .pricetag {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px;
        max-width: 550px;
        cursor: pointer;
        padding: 1.5rem 4rem 2.5rem;
        border-width: 0.4px;    
        border-color: rgb(0, 90, 226);
        border-image: initial;
        border-radius: 12px;
    }
    .pricetag_price_size{
        align-content: center;
    }
    
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;

        
    }
    customer-price-btns {
        flex-direction: row;
        justify-content: center;
    }
   
    customer-price-btns price-btns {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.8rem;
    }

    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
    
    
    customer-pricing-btn {
        width: 15rem;
        
    }
   
    .btn-blue, .btn-white:hover {
        background-color: rgb(0, 101, 254);
        color: rgb(255, 255, 255);
    }
    
    .btn {
        display: inline-block;
        font-family: gilroy-medium, sans-serif;
        padding: 1rem 2rem;
        border-radius: 100px;
        transition: all 0.5s ease-in 0s;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(0, 101, 254);
        border-image: initial;
       
    }
    
    a {
        color: rgb(20, 20, 20);
        text-decoration: none;
    }
    
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
    
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
    }
    
    customer-price-btns {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.8rem;
        
    }
    .form {
        position: relative;
        background: linear-gradient(rgb(30, 52, 72) 99.99%, rgba(30, 52, 72, 0) 100%);
        text-align: center;
    }
  
    section {
        padding-block: 5rem;
    }
    
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
    }
    
    section {
        display: block;
    }
   
    body {
        font-family: gilroy-medium, sanserif;
        line-height: 1.5;
    }
    

.circle.id{
    border-radius: 12px;
border-color: #FFF;
background: var(--primary-400, #005AE2);
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

ellipse{
    border-radius: 956px;
    background: linear-gradient(180deg, rgba(226, 233, 240, 0.70) 10.68%, rgba(220, 228, 235, 0.70) 44.01%, rgba(226, 233, 240, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(18, 36, 89, 0.35);
}
.hero{
    text-align: center;
    background-repeat: no-repeat;
}

.hero_container{
    display: flex;
    justify-content: space-around;
}
.space_id{
    color: #141414;
    font-size: 40px;
    font-family: Gilroy-Bold;
    line-height: 48px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 72px;

    color: var(--text-color-main-text, #141414);
    font-size: 32px;
    font-family: Gilroy-SemiBold;
    line-height: 40px;

    color: var(--text-color-main-text, #141414);
    font-size: 16px;
    font-family: Gilroy-Medium;
    line-height: 24px;
}

section {
    padding-block: 5rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    display: block;
}

.pricing-title-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 900px)
.views-title, .features-title, .pricing-title {
    font-size: 2.5rem;
}
.features-title {
    margin-bottom: 1rem;
  
}
.views-title, .features-title {
    font-size: 2rem;
}
h1, h2, h3, h4 {
    font-family: 'gilroy-bold', sanserif;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.pricing-title-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
.pricing-title-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: block;
}
.pricing-take {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-block-end: 5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}

.data_container{
    display: inline-flex;
    padding: 0px 0px 130px 0px;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    display: flex;

    color: #141414;
    font-size: 40px;
    font-family: Gilroy-Bold;
    line-height: 32px;

    color: var(--text-color-main-text, #141414);
    font-size: 16px;
    font-family: Gilroy-Medium;
    line-height: 28px;
}
.data_id{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h5{
    color: #141414;
text-align: center;
font-size: 30px;
font-family: Gilroy-Bold;
line-height: 48px;

}

.circle.id{
    display: inline-flex;
padding: 24px 98px 45px 87px;
flex-direction: column;
align-items: flex-start;
gap: 34px;
align-content: space-evenly;
color: var(--text-color-main-text, #141414);
text-align: left;
font-size: 24px;
font-family: Gilroy-Medium;
line-height: 32px;

    border-radius: 12px;
    vertical-align: var(--font-size-lg);
    vertical-align: var(--font-size-md);
    vertical-align: var(--font-size-sm);
    grid-row: 10rem;
    background: var(--linear-gradient, linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%));
}

.question-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3rem;
}
.question-btn{
    background: none;
    border: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
.question {
    padding: 0.7rem;
    border-bottom: 1px dotted #d6d6d6;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
body{
    font-family: 'Inter', sans-serif; */
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}

:host, :root{
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}
:host, :root{
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}
:host :root{
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

.fa-add:before, .fa-plus:before {
    content: "\2b";
}
.fa-solid, .fas {
    font-weight: 900;
}

.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: flex;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto; 
}

button {
    
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.question {
    padding: 0.7rem;
    border-bottom: 1px dotted #d6d6d6;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.question-header-title {
    font-size: 1.25rem;
    @media screen and (min-width: 950px)   
}

h1, h2, h3, h4 {
    font-family: 'gilroy-bold', sanserif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.question {
    padding: 0.7rem;
    border-bottom: 1px dotted #d6d6d6;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

body {
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}
:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}
:host, :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}
.question-header-title {
    font-size: 1.1rem;
    align-items: center;
}

article {
    display: block;
}

.question-btn {
    background: none;
    border: none;
    
}

:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

.optimize {
    background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
    position: relative;
    overflow-y: hidden;
    
    align-items: center;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}

h1{
    display: flex;
    align-items: center;
}


section{
    padding-block: 5rem
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: block;
}

.optimize h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.optimize-botten {
    text-align: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: block;
}
body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}
h1, h2, h3, h4 {
    font-family: 'gilroy-bold', sanserif;
}
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #141414;
}

div {
    display: block;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'gilroy-medium', sanserif;
    line-height: 1.5;
}

.footer-socials {
    gap: 1.5rem;
    margin-top: 1rem;
    display: grid;
}
footer-center{
    display: grid;
}
.logo link{
    padding: 0;
    display: block;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}
li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;   
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    gap:2rem 
    
              
}

div {
    display: block;
}

.footer_note_container{
    text-align: center;
}

.footer-end {
    margin-top: 4rem;
    text-align: right;
    font-size: 14px;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: gilroy-medium, sanserif;
    line-height: 1.5;
}

span{
    color:blue
}

.price{
    width:10rem;
    height: 10rem;
    border: 1px solid blue;
}
.prices{
    display: flex;
    gap: 2rem;
}

.price-option{
display: inline-flex;
padding: 24px 98px 45px 87px;
flex-direction: column;
align-items: flex-start;
gap: 34px;

border-radius: 12px;
border: 0.4px solid var(--primary-400, #005AE2);
background: var(--neutral-white, #FFF);
/* Drop shadow */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}
